h2 {
    text-align: center;
    margin: 50px;
    padding: 50px;
    font-size: 2.5em;
}

#menu {
    border: 1px solid white;
}

.container {
    margin-top: 200px;
    .menu_option {
        display: flex;
        justify-content: space-between;
    }
    h3 {
        font-size: 1.8em;
        margin-bottom: 10px;
    }
    .menu_title,
    .price {
        font-size: 1em;
        font-weight: 600;
        color: #92282D;
    }
    p {
        font-size: 0.5em;
        color: gray;
    }
}

#footer {
    text-align: center;
    background-image: url(/images/black_background.jpg);
    color: white;
    .restaurant-name {
        color: $header1color_straw;
        font-size: 2em;
        padding-top: 50px;
        padding-bottom: 30px;
        font-weight: 800;
    }
    p {
        padding: 0 35%;
        font-size: 0.9em;
    }
    .social-media {
        margin: 50px auto;
        ul {
            list-style-position: none;
            padding: 0;
            display: flex;
            justify-content: center;
            li {
                padding: 10px;
                list-style-type: none;
                display: inline-block;
            }
        }
    }
    img {
        transition: 0.2s ease-in;
        &:hover {
            transform: scale(1.4) translateY(-5px);
        }
    }
    .copyright {
        padding-bottom: 5px;
    }
}