@mixin menu-description {
    padding: 60px;
    width: 40%;
    position: absolute;
    z-index: 2;
    box-shadow: 0px 10px 20px -14px rgba(146, 40, 45, 1);
    background-color: #FCFDAF;
    background-size: cover;
    border: 4px dashed rgba(146, 40, 45, 0.5);
}

h2 {
    text-align: center;
    margin: 50px;
    font-size: 2.5em;
}

.container {
    /*border: 1px solid black;*/
    margin-bottom: 200px;
    position: relative;
    .menu1_image {
        position: relative;
        z-index: 1;
        /*border: 1px solid black;*/
        img {
            max-width: 800px;
        }
    }
    .menu_description1 {
        @include menu-description;
        top: 20%;
        right: 1%;
    }
    .menu_description2 {
        @include menu-description;
        top: 8%;
        right: 60%;
    }
    .menu2_image {
        text-align: right;
        position: relative;
        z-index: 1;
        img {
            max-width: 800px;
        }
    }
    .menu_option {
        display: flex;
        /*border: 1px solid black;**/
        justify-content: space-between;
    }
    h3 {
        font-size: 2.2em;
        margin-bottom: 30px;
    }
    .menu_title,
    .price {
        font-size: 1.2em;
        font-weight: 600;
        color: #92282D;
    }
    p {
        font-size: 0.7em;
        color: gray;
    }
    section {
        margin-bottom: 30px;
    }
}

#footer {
    text-align: center;
    background-image: url(/images/black_background.jpg);
    color: white;
}