.container {
    margin-bottom: 200px;
    h5 {
        margin: 0;
        padding: 0;
    }
    .contact_description {
        @include menucontact-description;
    }
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
}

.resimage {
    background-image: url(/images/black_background.jpg);
}

.row {
    justify-items: center;
}

@media screen and (min-width: 375px) and (max-width:1000px) {
    .container {
        .contact_description {
            width: 100%;
            h3 {
                font-size: 2em;
            }
            p {
                font-size: 1em;
                color: #E09527;
            }
            .contact_detail {
                line-height: 30px;
            }
        }
    }
    .gmap_canvas {
        width: 100%;
    }
    .mapouter {
        width: 100%;
    }
}

@media screen and (min-width:1000px) {
    .container {
        margin-bottom: 100px;
        position: relative;
        h5 {
            margin: 0;
            padding: 0;
        }
        .contact_image {
            text-align: right;
            position: relative;
            z-index: 1;
            max-width: 800px;
        }
        .contact_description {
            top: -10%;
            right: 1%;
            h3 {
                font-size: 2.2em;
                margin-bottom: 30px;
                margin-top: 20px;
            }
            p {
                font-size: 16px;
                color: #E09527;
            }
            .contact_detail {
                line-height: 30px;
                margin-right: -15px;
                margin-left: -15px;
            }
        }
    }
    .gmap_canvas {
        height: 500px;
        width: 800px;
    }
    .mapouter {
        position: relative;
        text-align: right;
        height: 500px;
        width: 800px;
    }
}