.container {
    margin-bottom: 200px;
    h5 {
        margin: 0;
        padding: 0;
    }
    .contact_description {
        @include menucontact-description;
    }
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
}

.resimage {
    background-image: url(/images/black_background.jpg);
}

.row {
    justify-items: center;
}