* {
    box-sizing: border-box;
}

$mq-mobile: 768px;
$mq-tablet: 1024px;
#reservation {
    background-image: url("images/main_back_gr.jpg");
    background-attachment: fixed;
    background-position: 50% -179.387px;
}

.containerReser {
    background-image: url(.images/main_back_gr.jpg);
    background-attachment: fixed;
    background-position: fixed;
}

.rib_fixed {
    background-attachment: scroll !important;
}

.text-center p {
    margin: 600px;
    margin-right: auto;
    margin-left: auto;
}

p {
    margin-bottom: 30px;
    margin: 0 0 10px;
}

// --- core: contact -----------------------------------------------------------