h2 {
    text-align: center;
    margin: 50px;
}

.container {
    border: 1px solid black;
    margin-bottom: 200px;
    position: relative;
    .menu1_image {
        position: relative;
        z-index: 1;
    }
    .menu_description1 {
        padding: 60px;
        background-color: blue;
        width: 40%;
        position: absolute;
        top: 20%;
        right: 1%;
        z-index: 2;
    }
    .menu_description2 {
        padding: 60px;
        background-color: red;
        width: 40%;
        position: absolute;
        top: -20%;
        right: 60%;
        z-index: 2;
    }
    .menu2_image {
        text-align: right;
        position: relative;
        z-index: 1;
    }
    .menu_option {
        display: flex;
        /*border: 1px solid black;**/
        justify-content: space-between;
    }
    h3 {
        font-size: 2em;
        margin-bottom: 30px;
    }
    .menu_title,
    .price {
        font-size: 1.2em;
        font-weight: 600;
    }
    p {
        font-size: 0.9em;
    }
    section {
        margin-bottom: 30px;
    }
}