@import 'variables';
@import 'fonts';
@import 'steven_nav_story';
@import 'kasra_menu_footer';
@import 'moumita_carousel';
@import 'myle_reservation_contact';
@import 'mobile_design';
html {
    scroll-behavior: smooth;
}

body {
    background-image: url(/images/white_background.jpg);
    font-family: $font-BreeSerif;
}